body{
	background:skyblue;
	background-image: url("image/event_background.jpg");
	background-size:cover;
	opacity: .8;
}
#header{
	position:fixed;
	height:120px;
	width:1320px;
	margin-top:-10px;
	margin-left:-10px;
	background-color:black;
}
#center_text{
	border: 2px solid white;
	float:left;
	margin-left:300px;
}
#home_link{
	text-decoration:none;
	background-color:#1C6864;
	color:white;
	margin-left:50px;
	float:left;}
#event_back{
	text-decoration:none;
	background-color:#1C6864;
	color:white;
	margin-left:350px;
	float:left;}
#event_back4{
	text-decoration:none;
	background-color:#1C6864;
	color:white;
	margin-left:300px;
	float:left;}
ul {
    list-style-type: none;
    margin-left:40px;
    margin-bottom:10px;
    padding: 0;
    overflow: hidden;
    margin-top:80px;
}
header{
position:fixed;
}
li {
    float: left;
    /*margin-left:50px;*/
    margin-top:10px;
}
/*
li a {
    color:maroon;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/

.btn {
    background-color:#1C6864;
    height:30px;
    width:140px;
    border-radius:10px;
    color:white;
}
.image_section{
	height:500px;
	width:600px;
	float:left;
	margin-left:20px;
	margin-top:80px;
}
.event_image{
	margin-left:20px;
	box-shadow:10px,blue;
	border-radius:10px;
}
.text_section{
	height:500px;
	width:600px;
	float:left;
	margin-right:20px;
	margin-left:20px;
	margin-top:80px;
}
.register_button{
	background-color:#1C6864;
	color:white;
	border-radius:5px;
}
