#div1{
	
	background-image: url("hellyeah/1.jpeg");
 height:700px;
 width:1340px;

   
	
		
}

#div2{
	
	background-image: url("hellyeah/1.jpeg");
 height:700px;
 width:1340px;

   
	
		
}
#abc
{
	height:470px;
	width:400px;
	background-image: url("hellyeah/1a.gif");
	
	margin-top:-160px;
	margin-left:450px;
	 opacity: ;
	    filter:alpha(opacity=50);
		
		border-radius:10px;
}
	
#abc1
{
	height:380px;
	width:360px;
	background-color:black;
	background-image: url("hellyeah/1a.gif");
	
	margin-top:0px;
	margin-left:450px;
	
	    filter:alpha(opacity=50);
		
		border-radius:10px;

}
		
	
#form_decoration
	{
		margin-top:100px;
		opacity: ;
	    filter:alpha(opacity=50);
	}
#pic
{
	 opacity: 1;
	    filter:alpha(opacity=50);
		  margin-top:-440px;
}
#pic1
{
	 opacity: 1;
	    filter:alpha(opacity=50);
		margin-top:-360px;
		margin-left:-100px;
]
	
}
		